@charset "UTF-8";
/* ====================================================
common style
==================================================== */
/* ------------------------
font-size
------------------------ */
/* ====================================================
reset style
==================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* add
-------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

nav, ol, ul {
  list-style: none; }

img {
  　　　vertical-align: top;
  　　　font-size: 0;
  　　　line-height: 0; }

/* ====================================================
base style
==================================================== */
html {
  font-size: 62.5%; }

body {
  color: #000000;
  font-size: 100%;
  font-size: 10px;
  font-size: 1.0rem;
  background-color: #FFFFFF;
  line-height: 1.4;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  /*  font-family: sans-serif; */
  /*  font-family: arial, sans-serif; */
  /*  font-family: 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', Arial, Helvetica;  */
  /*  font-family: Verdana, Arial, Helvetica, sans-serif; */
  /*  font-family: Meiryo, Tahoma, Verdana, Arial, sans-serif; */
  /*  font-family: Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif; */
  /*  font-family: Osaka, Arial, Helvetica, sans-serif; */
  /*  font-family: 'MS PGothic', Osaka, Arial, sans-serif; */ }

a:link {
  color: #000000;
  text-decoration: none; }

a:visited {
  color: #000000;
  text-decoration: none; }

a:hover {
  color: #000000;
  text-decoration: underline; }

a:active {
  color: #000000;
  text-decoration: underline; }

/* 通常時のclearfix
-------------------------- */
.clearfix:after {
  content: "";
  clear: both;
  display: block; }

/* 上記で不都合が通じる場合のclearfix
-------------------------- */
.clearfix2 {
  overflow: hidden; }

/* イレギュラーな場合のみ使うCSS(※基本的には使用しないこと)
-------------------------- */
/* margin
--------------
 */
/* top */
.mt00 {
  margin-top: 0 !important; }

.mt05 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

/* bottom */
.mb00 {
  margin-bottom: 0 !important; }

.mb05 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.mb50 {
  margin-bottom: 50px !important; }

/* left */
.ml0 {
  margin-left: 0px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml30 {
  margin-left: 30px !important; }

/* right */
.mr10 {
  margin-right: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr30 {
  margin-right: 30px !important; }

/* padding
--------------
 */
/* top */
.pt00 {
  padding-top: 0 !important; }

.pt05 {
  padding-top: 5px !important; }

.pt10 {
  padding-top: 10px !important; }

.pt15 {
  padding-top: 15px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt25 {
  padding-top: 25px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt35 {
  padding-top: 35px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt45 {
  padding-top: 45px !important; }

.pt50 {
  padding-top: 50px !important; }

/* bottom */
.pb00 {
  padding-bottom: 0 !important; }

.pb05 {
  padding-bottom: 5px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pb50 {
  padding-bottom: 50px !important; }

/* ====================================================
layout style
==================================================== */
/* header
-------------------------- */
/* footer
-------------------------- */
/* sidebar
-------------------------- */
/* mainContens
-------------------------- */
/* ====================================================
component style
==================================================== */
.wrap {
  width: 600px;
  margin: 40px auto; }

.main-title {
  font-size: 20px;
  font-size: 2rem;
  margin: 0 0 20px 0; }

.mod-section {
  margin: 0 0 40px 0; }

.mod-section__title {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 0 20px 0;
  font-weight: bold; }

/* ------------------------
alert
------------------------ */
.alert {
  border: 2px solid #333;
  border-radius: 6px;
  padding: 10px;
  background-color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  color: #000;
  margin: 0 0 20px 0; }
  .alert--state_success {
    border-color: #494;
    background-color: rgba(68, 153, 68, 0.3); }
  .alert--state_warning {
    border-color: #DD0;
    background-color: rgba(221, 221, 0, 0.3); }
  .alert--state_error {
    border-color: #C44;
    background-color: rgba(204, 68, 68, 0.3); }
  .alert--state_info {
    border-color: #48C;
    background-color: rgba(68, 136, 153, 0.3); }

/* ------------------------
box
------------------------ */
.box {
  margin: 0 0 30px 0; }
  .box__text {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 0 0 130px; }
  .box__pic {
    width: 100px;
    height: 100px;
    background: #000;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    color: #fff; }
  .box__text--pos_reverse {
    margin: 0 130px 0 0; }
  .box__pic--pos_reverse {
    float: right; }
  .box__text--pos_center {
    margin: 0 0 0 0; }
  .box__pic--pos_center {
    float: none;
    margin: 0 auto 30px; }

/* -----------------------
ttl
------------------------ */
.ttl {
  border-left: 2px solid #f00;
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 7px; }
  .ttl__text {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
    float: left; }
  .ttl__btn {
    font-size: 14px;
    font-size: 1.4rem;
    display: inline-block;
    float: right;
    padding: 4px;
    border: 2px solid #444;
    background: #ccc; }

/* -----------------------
column
------------------------ */
.column {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 7px; }
  .column__title {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #bbb; }
  .column__body {
    font-size: 13px;
    font-size: 1.3rem; }
  .column__p {
    margin: 0 0 5px 0; }

.main-box {
  width: 700px;
  margin: 100px auto; }

/* ====================================================
// module1
==================================================== */
.mod1__pic {
  width: 150px;
  height: 150px; }
