doctype html
html
  head
    meta(charset='utf-8')
    title ベム
    link(rel='stylesheet' href='css/common.css')
  body
    div(class="main-box")
      h1(class="main-title")
        | BEM
      section(class="mod-section")
        h1(class="mod-section__title")
          | module1
        div(class="alert alert--state_success")
          | 成功
        div(class="alert alert--state_warning")
          | 危険
        div(class="alert alert--state_error")
          | 失敗
        div(class="alert alert--state_info")
          | お知らせ
      section(class="mod-section")
        h1(class="mod-section__title")
          | module2
        div(class="box clearfix")
          div(class="box__pic")
            | pic
          div(class="box__text")
            | ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        div(class="box clearfix")
          div(class="box__pic box__pic--pos_reverse")
            | pic
          div(class="box__text box__text--pos_reverse")
            | ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        div(class="box clearfix")
          div(class="box__pic box__pic--pos_center")
            | pic
          div(class="box__text box__text--pos_center")
            | ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
      section(class="mod-section")
        h1(class="mod-section__title")
          | module3
        div(class="ttl")
          h2(class="ttl__text")
            | 成功
          a(class="ttl__btn")
            | ボタン
      section(class="mod-section")
        h1(class="mod-section__title")
          | module4
        div(class="column")
          h2(class="column__title")
            | title
          div(class="column__body")
            p(class="column__p")
              | paraparapapapapapapapapraprapar
            p(class="column__p")
              | paraparapapapapapapapapraprapar
